/* CSS HEX */
:root {
/* CSS HEX */
--dark-purple: #36213eff;
--english-violet: #554971ff;
--slate-gray: #63768dff;
--non-photo-blue: #8ac6d0ff;
--non-photo-blue-2: #b8f3ffff;
--dark-blue: #04264e; 
--light-blue:#daf5f7;
--light-orange:#f5cc90;
}

/*
GLOBAL
*/

body{
    /*background-color: var(--dark-blue);*/
    font-family: "Radio Canada Big", sans-serif;
    background-image:url(images/index.png);

    background-size: cover;
    background-repeat:no-repeat;
	background-attachment: fixed;

    margin:auto;
}



a:link{
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    gap: 0.1rem;
    transition:0.2s;
}
a:hover,
a:visited:hover {
    color: var(--english-violet);
    background-color: transparent;
    text-decoration: none;
    transition:0.2s;
  }
a:visited{
    color: white;
}
h1{
    size:5vmin;
    text-align:center;
    color:var(--non-photo-blue-2);
    margin-block:5vh;

    text-shadow: 3px 3px 0px var(--dark-blue);
    z-index: 1;
    
}
h2{
    color: var(--english-violet);
    text-align:center;
    text-shadow: 2px 2px 0px var(--non-photo-blue);
    z-index: 1;
    margin-block: 2vh;
    size:4vmin;

}
h3 {
  size: 3vmin;
  text-align:center;
  text-shadow: 2px 2px 0px var(--dark-blue);
  margin-bottom: 2vh;
  color: white;
}
ul{
  size: 1.3vmin;
  color: white;
  margin-block:3vh;
  margin-inline:5vw;
}
li{
  font-size: 2.5vmin;
}
button{
    margin-bottom:1rem;
   
}
.mybutton {
    border-color: var(--dark-purple);
    color: var(--dark-purple);
}

.mybutton:hover {
    background-color: var(--dark-purple);
    color: white; /* or any color you prefer */
}
p {
  color: white;
  font-size: 2.0vmin; 
  
}

/*
NAVBAR
*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px; /* Keep height flexible */; /*height was 12vh, width 100vw */
   
    width: 100vw;
    gap: 3vw;
    z-index: 1;
    background-image: linear-gradient(var(--non-photo-blue-2), var(--dark-blue) );

    font-size: calc(1.2vh + 1.0vw); /* Font size proportional to navbar height */
    

    

    
}


.name{
    margin-left: 1.5rem;
    color: var(--non-photo-blue-2);
    
}
.items{
    margin-left: auto;
    margin-right: 1rem;

    gap: 30px;
}
.items > a
{
  
    margin-inline: 0.5rem;
}



/*homepage*/


.main{
    margin-top: 10rem; /* Add a top margin to avoid content overlay */
    display: flex;
    margin-inline: 15rem;
    color:white;
   

  }


.image{
    padding: 5px;
     
    margin-right: 3rem;

    float: left;
    
    
    border-radius: 25px;
      
    scale: 1;
    transition:1s;
    opacity: 0.8;

    }
.image:hover{
    scale: 1.1;
    transition:1s;
    opacity: 1;
}
.intro{
    margin-top: 2rem;
    padding:1rem;
    font-size:1.5vw;
    text-align: center;
}


.inspirations{
    margin-block:3rem;
    display: flex;
    margin-inline: 15rem;
    color:white;
}
.focus{
    opacity: 0.6;
    scale: 1;
    transition:1s;
    position: relative;
    
    display: flex; flex-direction: column; align-items: center;

}
.focus:hover,.focus:focus{
    scale: 1.1;
    transition:1s;
    opacity:1;
}
.label{

    display: inline-block;
    padding-inline: 1rem;
    
    border-radius: 25px;
    font-size:1vw;

}
.label p{
  font-size:2.0vh;
}

img.example
{
    

    
    padding: 1vw;
    border-radius: 25px;
    margin-inline: 3vw;

   
    
    object-fit: cover;
    height: 30vh;
    width: 100%;

    

   
}

/*Games Page*/

.banner {
    margin-block:4rem;
    position: relative;
    width: 100%;
    height: 50vh; /* Set the desired height */
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the banner area */
}

.banner .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 5vw;
    gap: 1vw;
  }
  .item {
    background-color: var(--light-blue);
    text-align: center;
    border-radius: 25px;
    margin-block: 1vw;
    margin-inline: 1vw;
    padding: 1vw;
    opacity: 0.8;
    scale: 1;
    transition: 1s;
  }
.item:hover{
    scale: 1.1;
    transition:1s;
    opacity:1;

}
.item > img{
    width: 100%;
    height: 30vh;
    border-radius:25px;
    object-fit: cover;
   /*margin:1rem 2rem 1rem 2rem; /* top right bottom left */

   margin-bottom: 1rem;
   
}
.item > p{
    font-size: 1.5vw;
    color:var(--dark-purple);
    margin-bottom:1rem;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    h1, h2 {
      font-size: 4.5vmin;
    }
    h3 {
      font-size: 3vmin;
    }
   
  }
  
  @media (max-width: 768px) {
 
    .main, .inspirations {
      flex-direction: column;
      margin-inline: 2rem;
    }
    .gallery {
      grid-template-columns: 1fr;
    }
}
  
  
  @media (max-width: 480px) {
    h1, h2 {
      font-size: 3.5vmin;
    }
  
    .main, .inspirations {
      margin-inline: 1rem;
    }
    h3 {
      font-size: 1vmin;
    }
  }

  /* ART */


  .artgallery {
    display: grid;
    
    margin-inline: 5vw;
    grid-template-columns: repeat(auto-fill, minmax(25vh, 1fr));
    grid-auto-flow: dense;
    gap: 1vw; 
  }
  .artitem {
    position: relative;
    display: inline-block;
}
  .artitem > a > img {
    
    width: 100%;
    height: auto;
    display: block;
    opacity: 1.0;
    transition: 1.0s;
  }

  .artitem > a > img:hover {
    
    opacity: 0.5;

    transition: 1.0s;
  }

  

  .artitem .label {

    
    margin-top: 0.5vh;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  /* game centric pages */

  .section{
    margin-inline: 10vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-block: 1vh;
  }
  .section a{
    color: var(--non-photo-blue-2);
  }
  .link{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .linkbutton {
    border-color: var(--non-photo-blue-2);
    color: var(--dark-blue);
    size: 3vh;
    font-size: 4vh;
    padding: 2vh;
    background-color: var(--light-orange);
  }
.linkbutton:hover {
    background-color: var(--dark-purple);
    color: white; /* or any color you prefer */
    
}
.text{ 
  flex: 0.8;
  padding: 4vh;
}

  .section img {
    flex: 0.8;
    width: 50%;
    height: auto;
    object-fit: contain;
    padding: 4vh;
  }
  .section video {
    flex: 0.8;
    width: 40%;
    height: auto;
    object-fit: contain;
    padding: 4vh;
  }
  .gamelabel{
    color: var(--light-orange);
    display:inline;
  }
  .section p{
    margin-block: 3vh;
  }
  .red{
    color: #e07c75;
  }
  .blue{
    color: #9fc3e8;
  }
  .yellow{
    color: hsl(61, 60%, 60%);
  }
  .green{
    color: #5dd792;
  }





